pandas
matplotlib
seaborn
scikit-learn
plotly
ipykernel
xgboost
joblib
tensorflow-cpu
keras
nbformat
keras-tuner
tabulate
kaggle
tornado>=6.4.2 # not directly required, pinned by Snyk to avoid a vulnerability